@import url("./variables.css");
@import url("./extra-classes.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

#app {
    margin-left: auto;
    margin-right: auto;
    background: var(--primary-bg);
    width: 1512px;
    padding: calc(var(--padding-l) + 6px);
    font-family: var(--primary-ff);
}

.logo {
    width: 94px;
    height: 54px;
}

.nav {
    width: 516px;
}

.nav-link {
    font-size: var(--fs-s);
    color: var(--primary-text-color);
}

.icons {
    width: 88px;
    display: flex;
}

.icon {
    width: 24px;
    height: 24px;
}

.main {
    margin-top: var(--margin-xxxl);
}

.inform {
    width: 718px;
}

.main__title {
    margin-top: 0px;
    font-size: var(--fs-xl);
}

.main__paragraph {
    font-size: var(--fs-s);
    margin-top: var(--margin-m);
}

.poster {
    width: 655px;
    height: 655px;
}

.about-us__poster {
    width:560px;
    height:664px;
}

.button-wrapper {
    margin-top: calc(var(--margin-xxl) + 8px); 
}

.button {
    font-size: var(--fs-s);
    padding: 18px 67px;
    border: 1px solid var(--secondary-text-color);
    background: inherit;
    cursor: pointer;
}

.about-us > .info {
    width: 564px;
}

.about-us > .info > .paragraph {
    margin-top: var(--margin-l);
    font-size: var(--fs-s);
}

.benefits__title{
   text-align: center;
}
.benefits__group{
      margin: var(--margin-xxl) 122px 0 122px;
}

.benefits__icon{
   width: 35px;
   height: 39px;
}
.benefits__text{
   margin-left: calc(var(--margin-s) + 5px);
}
.benefits__text-title{
   color: var(--third-text-color);
   font-family: "nanum";
   font-weight: 600;
   font-size: var(--fs-s);
   text-transform: uppercase;
}
.benefits__text-paragraph{
   margin-top: var(--margin-s);
}

/* banner  */
.banner{
   position: relative;
   left: -46px;
}
.banner__img{
   height: 240px ;
   width: 1512px;
}
.catalog__title, .bestsellers__title{
   text-align: center;
}
.catalog__group, .bestsellers__group{
   margin-top: var(--margin-xxl);
}

.catalog__img, .bestsellers__img{
   width: 440px;
   height: 440px;
}
.catalog__text-title{
   text-align: center;
   color: var(--third-text-color);
   font-family: "nanum";
   font-weight: 600;
   font-size: var(--fs-s);
   text-transform: uppercase;
   margin-top: var(--margin-l);
}
/* comments    */

.comments__title{
   text-align: center;
}
.comments__container-all{
   display: flex;
   height: 555px;
}
.comments__block{
   width: 474px;
   height: 172px;
   background: #DFDFDF;
}

.comments__block:first-child{
   z-index: 2;
   position: relative;
   top: 94px;
   left: 250px ;
}
.comments__block:nth-child(2){
   position: relative;
   top: 60px;
   left: 266px ;
   
}
.comments__block:last-child{
   border: 2px solid rgb(154, 154, 154);
   background: none;
   position: relative;
   top: 252px;
   left: -450px ;
   background: inherit;
}

.comments__block-container{
   padding: calc(var(--padding-m) - 2px);
}
.comments__ava-title{
   display: flex;
   align-items: center;
}

.ava{
   width: 50px;
   height: 50px;
}
.comments__name{
  color: var(--third-text-color);
  font-family: "nanum";
  font-weight: 600;
  font-size: var(--fs-s);
  text-transform: uppercase;
  padding-left: calc(var(--padding-xs) + 4px) ;
}
.comments__paragraph{
   padding-top: calc(var(--padding-s) + 4px);
}

/* style for classes  bestsellers on 135 line and under */

.bestsellers__text-title{
   color: var(--third-text-color);
   font-family: "nanum";
   font-weight: 600;
   font-size: var(--fs-s);
   text-transform: uppercase;
   margin-top: var(--margin-l);
}

.bestsellers__text-info{
   display: flex;
   align-items: center;
   justify-content:space-between;
}

.bestsellers__text-price{
   padding-left: 101px;
   
   color: var(--third-text-color);
   font-family: "nanum";
   font-weight: 600;
   font-size: var(--fs-s);
   text-transform: uppercase;
   margin-top: var(--margin-l);
}

.bestsellers__button-buy-wrapper {
   
   margin-top: var(--margin-l);
}

.bestsellers__button-buy {
   position: static;
   font-size: calc(var(--fs-m) + 4px);
   padding: 5px 10px;
   border: 1px solid var(--secondary-text-color);
   border-radius: 3px;
   color: var(--primary-text-color);
}

.bestsellers__button-wrapper{
   margin-top: var(--margin-xxxl);
   text-align: center;
}

.order{
   position: relative;
   left: -46px;
   background: url(../public/images/backgrounds/background-1.png);
   Width: 1512px;
   height: 800px;
}
.order__title{
   padding: 99px 0 60px 56px;
}
.form{
   display: block;
   padding-left: 56px;
}
.input-wrapper{
   padding-top: calc(var(--padding-s) + 8px);
}
.input-wrapper:first-child{
   padding-top: 0;
}
.input-button-wrapper{
   padding-top: var(--padding-xxl);
}
.form__input-button{
   border: 1px solid var(--secondary-text-color);
   background: inherit;
   font-size: var(--fs-s) ;
   color: var(--secondary-text-color);
   width: 300px;
   height: 60px;
}
.form__input{
   width: 560px;
   padding: var(--padding-xs) ;
   border: none;
   border-bottom: 1px solid rgba(223, 223, 223, 1);
   background: inherit;
   font-size: var(--fs-xs);
}
.form__input-button{
   cursor: pointer;
   padding: calc(var(--padding-xs) + 6px);
}
/*  */
input[type="file"] {
   display: none;
}
.custom-file-upload {
   border: 1px solid #ccc;
   display: inline-block;
   padding: 14px 29px;
   cursor: pointer;
   background: var(--primary-text-color);
   color: var(--fourth-text-color);
   font-size: var(--fs-xs);
}

.clip-icon{
   position: relative;
   top: 4px;
   left: -2px;
   height: 20px;
}

/*  */
.form p{
   padding-top: calc(var(--padding-s) + 3px);
}
.info__container{
  display: flex; 
  justify-content: space-between;
}

.info__social{
   margin-top:calc(var(--margin-s) + 4px) ;
   width: 160px;
   display: flex;
   justify-content: space-between;
}
.icon{
   width: 40px;
   height: 40px;
}

.info-title{
   font-family: var(--primary-ff);
   font-weight: 500;
   color: var(--secondary-text-color);
   font-size: var(--fs-m); 
}

.info__navigation{
   font-family: var(--primary-ff);
   font-weight: 400;
   font-size: var(--fs-s);
   color: var(--primary-text-color);
   margin-top:var(--margin-m) ;
}
.info__navigation:first-child{
   margin-top: calc(var(--margin-l) + 2px);
}
.info__input{
   padding: calc(var(--padding-xs) + 4px);
   border: none;
   border-bottom: 1px solid rgba(223, 223, 223, 1);
   background: inherit;
   width: 320px;
}
.input-panel{
   width: 20px;
   height: 20px;
   position: relative;
   left: -30px;
   top: 5px;
}
.policy{
   width: 433px;
   margin-top: calc(var(--margin-xxl) + 30px);
}
.policy-link{
   display: flex;
   justify-content: space-between;
}
.policy__nav{
   color:var(--secondary-text-color) ;
   font-weight: 400;
   font-size: var(--fs-s);
}
.alright{
   margin-top: var(--margin-m);
   color: var(--primary-text-color);
   font-size: var(--fs-s);
}